<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <title>Squareyes | Website Design &amp; Development</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="Melbourne-based digital duo specialising in website design and development."
  />
  <style>
    body {
      font-family: monospace;
      color: #333;
    }
    a {
      color: #333;
      text-decoration: none;
    }
    a:hover {
      color: red;
    }
  </style>
</head>
<body>
