{% include head.html %} {% include header.html %}

    <body>
        <br>
        <p>Squareyes</p>
        <p>Melbourne-based digital duo specialising in website and web-app development.</p>
        <br>
        <br>
        <p>Recent Projects</p>
        <p><a href="https://architectureassociates.net/" target="_blank">Architecture Associates</a> (design by <a href="https://www.nevernow.com.au/" target="_blank">NeverNow</a>)<br>
        <a href="https://www.instagram.com/p/Bi3yptCDrtK/?taken-by=bloompublishing" target="_blank">OPEN: Photo Submission Platform</a><br>
        <a href="https://www.bloompublishing.com.au" target="_blank">Bloom Publishing</a><br>
        <a href="https://www.goodsportmagazine.com" target="_blank">Good Sport</a> (design by <a href="https://www.nevernow.com.au/" target="_blank">NeverNow</a>)<br>
        <a href="https://www.sarahpannell.com" target="_blank">Sarah Pannell Photography</a><br>
        <a href="https://www.lloydstubber.com" target="_blank">Lloyd Stubber Photography</a><br>
        <a href="http://www.focusfair.com.au" target="_blank">FOCUS Fair</a></p>
        <br>
        <br>
        <p>Contact</p>
        <p><a href='&#109;ailto&#58;&#37;&#54;9%6&#69;fo&#64;&#115;quarey%65s&#46;info'>&#105;nf&#111;&#64;squa&#114;eyes&#46;info</a></p>
        <br>
        <pre>
        ___            ___
     _,'   |         ,'   |
 _,-'__  __  ______ /     |
|    # |,--,|    # |
|      |)  (|      |
|______|    |______|
        </pre>
    </body>

{% include footer.html %}
